* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #0a0f1f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.quiz-container {
    width: 100%;
    max-width: 500px;
    background: #111827;
    border: 2px solid #00ffff;
    border-radius: 20px;
    padding: 30px;
    box-shadow:
        0 0 10px #00ffff,
        0 0 20px rgba(0, 255, 255, 0.4);
}

.quiz-container h1 {
    text-align: center;
    color: #00ffff;
    margin-bottom: 25px;
    text-shadow: 0 0 10px #00ffff;
}

#question {
    font-size: 1.3rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.btn {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 2px solid #00ffff;
    border-radius: 12px;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #00ffff;
    color: #000;
    box-shadow: 0 0 15px #00ffff;
    transform: translateY(-2px);
}

.correct {
    background: #00ff88 !important;
    border-color: #00ff88 !important;
    color: #000 !important;
}

.wrong {
    background: #ff4d6d !important;
    border-color: #ff4d6d !important;
    color: white !important;
}

#next-btn {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    border-radius: 12px;
    background: #00ffff;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}

#next-btn:hover {
    box-shadow: 0 0 20px #00ffff;
    transform: scale(1.03);
}

#score {
    margin-top: 20px;
    text-align: center;
    color: #00ffff;
    font-size: 1.1rem;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background: #1f2937;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress {
    height: 100%;
    width: 0%;
    background: #00ffff;
    box-shadow: 0 0 10px #00ffff;
    transition: width 0.4s ease;
}